<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  
    <servlet>
        <servlet-name>springservlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:webApplicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup><!--The load-on-startup element indicates that this servlet should be loaded (instantiated and have its init() called) 
 on the startup of the web application.  -->
        
    </servlet>

    <servlet-mapping>
        <servlet-name>springservlet</servlet-name>
        <url-pattern>/mvc/*</url-pattern><!--http://localhost:8080/springweb/mvc/addStudent  -->
    </servlet-mapping>
    
    <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    </welcome-file-list>


</web-app>